# User-specific files
*.suo
*.user

# NuGet packages
[Pp]ackages/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# MSTest results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet build results
*.nupkg